body
{
	background-color: greenyellow;
}
h1{
	text-align: center;
	color: rgb(245, 11, 11);
	text-decoration-color: coral;
}   

	.login_div1 , .login_div2
	{
		color: rgb(241, 9, 9);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
